<!DOCTYPE html>
<html>
<head>
    <title>Crypto Market Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script>
        let ohlcvData = [];
        let currentPage = 1;
        const recordsPerPage = 5;

        function fetchData(route, callback) {
            fetch(route)
                .then(response => response.json())
                .then(data => callback(data))
                .catch(error => console.error('Error fetching data:', error));
        }

        function fetchSymbols() {
            fetchData('/cryptos', symbols => {
                var select = document.getElementById('symbolSelect');
                symbols.forEach(symbol => {
                    var option = document.createElement('option');
                    option.value = symbol;
                    option.text = symbol;
                    select.add(option);
                });
            });
        }

        function fetchOhlcvData() {
            var symbol = document.getElementById('symbolSelect').value;
            if (symbol) {
                var encodedSymbol = encodeURIComponent(symbol);
                fetchData('/ohlcv/' + encodedSymbol, data => {
                    ohlcvData = data;
                    currentPage = 1;
                    displayOhlcvData();
                    document.getElementById('ohlcvDataContainer').style.display = 'block';
                    document.getElementById('chartContainer').style.display = 'none';
                });
            }
        }

        function displayOhlcvData() {
            const startIndex = (currentPage - 1) * recordsPerPage;
            const endIndex = startIndex + recordsPerPage;
            const dataToShow = ohlcvData.slice(startIndex, endIndex);

            document.getElementById('ohlcvData').innerText = JSON.stringify(dataToShow, null, 2);
            document.getElementById('pageNumber').innerText = `Page ${currentPage} of ${Math.ceil(ohlcvData.length / recordsPerPage)}`;
        }

        function nextPage() {
            if (currentPage * recordsPerPage < ohlcvData.length) {
                currentPage++;
                displayOhlcvData();
            }
        }

        function prevPage() {
            if (currentPage > 1) {
                currentPage--;
                displayOhlcvData();
            }
        }

        function createChart(data) {
            const chartContainer = document.getElementById('chartContainer');
            chartContainer.innerHTML = ''; // Clear previous chart
            const chart = LightweightCharts.createChart(chartContainer, { width: 600, height: 400 });
            const candlestickSeries = chart.addCandlestickSeries();
            const formattedData = data.map(item => ({
                time: new Date(item.date).toISOString().split('T')[0],
                open: item.open,
                high: item.high,
                low: item.low,
                close: item.close
            }));
            candlestickSeries.setData(formattedData);
        }

        function fetchChart() {
            var symbol = document.getElementById('symbolSelect').value;
            if (symbol) {
                var encodedSymbol = encodeURIComponent(symbol);
                fetchData('/ohlcv/' + encodedSymbol, data => {
                    createChart(data);
                    document.getElementById('chartWrapper').style.display = 'flex';
                    document.getElementById('chartContainer').style.display = 'block';
                    document.getElementById('ohlcvDataContainer').style.display = 'none';
                });
            }
        }

        window.onload = fetchSymbols;
    </script>
    <style>
        .centered-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Crypto Market Data Visualization</h1>
        <img id="title_img" src="{{ url_for('static', filename='img/doge_coin.png') }}" alt="Doge Coin">
        <p>Welcome to our educational platform where you can explore a quarter's worth of price movement and view 1-day candlestick data for various cryptocurrencies. Select a cryptocurrency symbol to interact with the raw data and visual charts.</p>
        <div>
            <label for="symbolSelect">Select Symbol:</label>
            <select id="symbolSelect">
                <option value="">Select a symbol</option>
            </select>
        </div>
        <div>
            <button onclick="fetchOhlcvData()">Show Raw Data</button>
            <button onclick="fetchChart()">Show Chart</button>
        </div>
        <div id="ohlcvDataContainer" style="display: none;">
            <h2>OHLCV Data</h2>
            <pre id="ohlcvData">Select a symbol and click "Show Raw Data" to view OHLCV data.</pre>
            <div class="pagination">
                <button onclick="prevPage()">Previous</button>
                <span id="pageNumber">Page 1</span>
                <button onclick="nextPage()">Next</button>
            </div>
        </div>
        <div id="chartWrapper" class="centered-flex" style="display: none;">
            <div id="chartContainer" style="display: none;"></div>
        </div>
    </div>
</body>
</html>
