<!DOCTYPE html>
<html>
<head>
    <title>Crypto Market Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script>
        function fetchData(route, callback) {
            fetch(route)
                .then(response => response.json())
                .then(data => callback(data))
                .catch(error => console.error('Error fetching data:', error));
        }

        function fetchSymbols() {
            fetchData('/cryptos', symbols => {
                var select = document.getElementById('symbolSelect');
                symbols.forEach(symbol => {
                    var option = document.createElement('option');
                    option.value = symbol;
                    option.text = symbol;
                    select.add(option);
                });
            });
        }

        function fetchOhlcvData() {
            var symbol = document.getElementById('symbolSelect').value;
            if (symbol) {
                var encodedSymbol = encodeURIComponent(symbol);
                fetchData('/ohlcv/' + encodedSymbol, data => {
                    document.getElementById('ohlcvData').innerText = JSON.stringify(data, null, 2);
                });
            }
        }

        function createChart(data) {
            const chartContainer = document.getElementById('chartContainer');
            chartContainer.innerHTML = ''; // Clear previous chart
            const chart = LightweightCharts.createChart(chartContainer, { width: 600, height: 400 });
            const candlestickSeries = chart.addCandlestickSeries();
            const formattedData = data.map(item => ({
                time: new Date(item.date).toISOString().split('T')[0],
                open: item.open,
                high: item.high,
                low: item.low,
                close: item.close
            }));
            candlestickSeries.setData(formattedData);
        }

        function fetchChart() {
            var symbol = document.getElementById('symbolSelect').value;
            if (symbol) {
                var encodedSymbol = encodeURIComponent(symbol);
                fetchData('/ohlcv/' + encodedSymbol, createChart);
            }
        }

        window.onload = fetchSymbols;
    </script>
</head>
<body>
    <div class="container">
        <h1>Crypto Market Data Visualization</h1>
        <img id="title_img" src="{{ url_for('static', filename='img/doge_coin.png') }}" alt="Doge Coin">
        <p>Welcome to our educational platform where you can explore a quarter's worth of price movement and view 1-day candlestick data for various cryptocurrencies. Select a cryptocurrency symbol to interact with the raw data and visual charts.</p>
        <div>
            <label for="symbolSelect">Select Symbol:</label>
            <select id="symbolSelect">
                <option value="">Select a symbol</option>
            </select>
        </div>
        <div>
            <button onclick="fetchOhlcvData()">Show Raw Data</button>
            <button onclick="fetchChart()">Show Chart</button>
        </div>
        <div>
            <h2>OHLCV Data</h2>
            <pre id="ohlcvData">Select a symbol and click "Show Raw Data" to view OHLCV data.</pre>
        </div>
        <div class="chart-container">
            <div id="chartContainer" class="chart"></div>
        </div>
    </div>
</body>
</html>
